{% extends 'base.html.twig' %} {% block title %}Hello BdController!{% endblock %} {% block body %}
<div class="example-wrapper">
    <h1>{{title}}</h1>

    {% if age > 18 %}
    <p>Vous êtes majeur</p>
    {% else %}
    <p>Tu es mineur</p>
    {% endif %}
</div>

{% endblock %}